body {
    margin: 0;
    background-color: #F6EFFF;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    border-bottom: 3px solid #AB6FF3;
}
.currentPage {
    background-color: #CDB1EE;
    padding: 5px 20px 5px 20px;
    color: white;
    font-weight: bold;
}
#navigation {
    font-size: 20px;
    background-color: white;
    color: black;
    font-family: geneva, arial;
    position: fixed; 
    width: 100%;
    text-align: center;
    padding-top: 0px;
}
#navItem {
    width: 16%;
}
ul#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;

}
li#navItem {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headspace {
    margin-bottom: 50px;
}